#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 1rem;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('home.jpg');
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    width: 100vw;
}

#home h1 {
    width: 100%;
    font-size: 4.5rem;
    font-weight: 600;
    margin: 0;
}


#home h2 {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home h2::after {
    content: "";
    display: block;
    width: 2px;
    height: 2.5rem;
    background: white;
    margin: 1rem 0;
}

@media only screen and (max-width: 1200px) {
    #home h1 {
        font-size: 2.5rem;
    }

    #home h2 {
        font-size: 1.5rem;
    }
}