#navbar {
    width: 100%;
    position: fixed;
    z-index: 1;
}

#navbar #navbar-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

#navbar #navbar-mobile {
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 1000px) {
    #navbar #navbar-desktop {
        display: none;
    }

    #navbar #navbar-mobile {
        opacity: 1;
    }
}

#navbar #navbar-mobile .mobile-links {
    opacity: 1;
    position: absolute;
    left: 0;
    top: 96px;
    /* navbar height of 96, minus 1 px for consistency */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    color: #0078ff;
    transition: all 0.3s ease-in-out;
    width: 100vw;
    gap: 1rem;
    padding: 0 5rem 2rem 5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 7px;
}

#navbar #navbar-mobile .menu-hidden {
    opacity: 0 !important;
}

#navbar #navbar-mobile svg {
    font-size: 2rem;
}

#navbar .scroll-up {
    padding: 2rem 5rem;
    background-color: transparent;
    color: white;
}

#navbar .scroll-down {
    padding: 2rem 5rem;
    background-color: white;
    color: #0078ff;
}

#navbar h2 {
    margin: 0;
    font-weight: 600;
}

#navbar .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}

#navbar button {
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

#navbar button span {
    display: block;
    background-color: currentColor;
    height: 2px;
    width: 0;
    margin-top: 0.5rem;
    position: absolute;
    transition: all 250ms ease-in-out;
}

#navbar button:hover .line {
    width: 45px;
}

#navbar .active-line {
    width: 45px;
}